

@media (max-width: 428px) {
  .responsive-text {
    font-size: 14px;
  }

  .window {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .window-body iframe {
    width: 100% !important;
    height: auto !important;
  }

  img {
    width: 100% !important;
    height: auto !important;
  }

  .title-bar-text {
    font-size: 12px;
  }

  .title-bar-controls button {
    width: 20px;
    height: 20px;
  }

  .content {
    flex-direction: column;
    display: flex;
    font-size: 64px
  }

  .backdrop {
    padding: 10px;
    margin-right: 50%;
    position: absolute;
    margin-top: auto;
    background: rgb(24, 0, 0);
    border-style: double;
    border-color: #ff0000;
    z-index: -1;
    align-content: center;
    max-width: 400px;
    height: max-content;
  }

  img.icon{
    width: 15px;
    height: 15px;
  }

  img.title{
    width: 10%;
    height: 10%;
  }

  img.stamps{
    width: 50%;
    height: 50%;
  }

}

@font-face {
  font-family: 'BankGothic';
  src: url('./assets/fonts/BankGothicMediumBT.ttf');
}

@font-face {
  font-family: 'Jupiter';
  src: url('./assets/fonts/Jupiter.otf');
}

body {
  padding: 20px;
  position: absolute;
  background-image: url('./images/ROBOXEL-Glitchy_Backgrounds/PNG/Glitchy_Backgrounds-086.png');
  background-attachment: fixed;
  background-repeat: repeat;
}


h1 {
  font-family: 'BankGothic';
  font-size: 64px;
  color: #ff0000;
  text-align: center;
}

h2 {
  font-family: 'BankGothic';
  font-size: 48px;
  color: #ff0000;
  text-align: center;
}
h4 {
  font-family: 'Jupiter';
  color: #ff0000;
  text-align: center;
}

img.animated-gif{
  transform: scale(0.5);
}

.terminaltext {
  font-family: 'Jupiter';
  font-size: 20px;
  color: #ffffff;
  margin-bottom: -10px;
  padding-left: 10px; /* Adjust the value as needed */
}

.CMD-Background {
  background: black;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Jupiter';
}


.main-content {
  flex-direction: row;
  display: flex;
}

.backdrop {
  position: absolute;
  margin-top: auto;
  margin-left: 100%;
  background: rgb(24, 0, 0);
  border-style: double;
  border-color: #ff0000;
  z-index: -1;
}

.flip-horizontally {
  transform: scaleX(-1);
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 0, 191, 0.386); }
}